
.home-cont {
   text-align: left;
   font-family: "Montserrat",sans-serif;
   width: 95vw;
   margin: auto;
   display: grid;
   grid-gap: 2rem;
   grid-template-areas: "navbar-cont navbar-cont  navbar-cont  navbar-cont"
   "main-cont main-cont main-cont main-cont";
   grid-template-rows: 15vh 75vh;
   }

@media only screen and (max-width: 600px) and (max-width: 564px) {
}
