.flex-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) and (max-width: 1167px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) and (max-width: 959px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) and (max-width: 735px) {  } */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (max-width: 564px) {
  .flex-cont {
    flex-flow: column;
    justify-content: center;
    margin: 30px 0;
  }
}
