* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(200, 212, 164);
  color: #25192d;
  height: 100vh; 
  /* max-width: 100%;
  /* display: flex;
  justify-content: center;
  align-self: center;
  align-items: center; */
  font-size: 14px;
}

/* #root {
  max-width: 95%;
} */

ul {
  list-style: none;
}

li {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #2c2d30;
}

@media only screen and (max-width: 600px) and (max-width: 564px) {
  body {
    /* height: auto; */
  }
}
